/* GENERAL STYLING */

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    list-style-position: outside;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.light-text {
    color: #1c1d1d; 
}

body {
    background-color: #1c1d1d;
    transition: .3s all;
    margin: 0;
}

body.light {
    background-color: #f4f4f4;
    transition: .9s all;
}

body.modal-open {
    overflow: hidden;
}

p, h1, h2, h3, h4, li {
    color: #ffffff;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
}

main {
    position: relative;
}

button {
    cursor: pointer;
}

/* TOP SECTION */

header {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    opacity: 1.0;
    transition: .7s all;
    -webkit-transition: .7s all;
    -moz-transition: .7s all;
    -o-transition: .7s all;
    -ms-transition: .7s all;
    position: relative;
    z-index: 55;
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 665px) {
    header {
        height: max-content;
    }
}

header.light {
    background-image: url(../images/bg-trans-lighter.png);
    position: relative !important;
    z-index: 57 !important;
    -webkit-transition: .7s all;
    -moz-transition: .7s all;
    -o-transition: .7s all;
    -ms-transition: .7s all;
    transition: .7s all;
}

.nav-container {
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 50px 0 0 0;
    align-items: center;
    position: relative;
    z-index: 2;
}

@media (max-width: 1300px) {
    .nav-container {
        padding: 50px 40px 0 0;
        flex-wrap: nowrap;
    }
}


nav {
    width: 92%;
}

.mini-nav {
    text-transform: uppercase;
    line-height: 1.8;
    font-size: 20px;
    position: fixed;
    right: 3%;
    top: 4%;
    z-index: 50;
    width: 135px;
    margin-left: auto;
    transition: .7s all;
}

.mini-nav-toggle {
    display: block;
    border: 1px solid #C54960;
    background-color: #c54960c2;
    color: white;
    padding: 15px 16px 15px 16px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    transition: .7s all;
}

.mini-nav-toggle:hover {
    background-color: #C54960;
    border-color: #C54960;
}

.mini-nav-toggle.show {
    background-color: transparent;
    border-color: transparent;
    transition: .7s all;
    transform: rotate(90deg);
}

.miniUL {
    padding: 20px;
    padding-top: 0;
    margin: 0;
    opacity: 0;
    transition: .4s all;
    visibility: hidden;
    font-weight: 600;
}

.light .miniUL a li, .miniUL a li {
    color: white;
    transition: .5s all;
}

.miniUL a:hover li {
    color: #000000;
    transition: .4s all;
}

.mini-nav.show {
    background-color: #c54960c2;
    transition: .4s all;
}

.miniUL.show {
    visibility: visible;
    opacity: 1;
    transition: .7s all;
}

.nav-logo {
    width: 236px;
}

.light-mode-logo {
    display: none;
}

.toggle-container {
    width: 73px;
    margin: 0 0 0 15px;
}

.nav-ul {
    align-items: center;
    padding-left: 0;
}


nav li {
    font-size: 24px;
    margin: 0 15px 0 15px;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 820px) {
    .nav-ul {
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 35px;
    }

    nav li {
        margin: 0 15px 0 0;
    }

    nav {
        flex-direction: column !important;
    }

    .nav-container {
        align-items: center;
    }
}

nav li a {
    color: white;
    transition: .3s all;
}

nav li a:hover, nav li a:focus, .light nav li a:hover, .light nav li a:focus {
    color: #C54960;
    transition: .3s all;
}

header.light nav li a {
    color: #1c1d1d;
}

.toggle-container {
    position: relative;
    display: inline-block;
    width: 8%;
    min-width: 72px;
    max-width: 72px;
    height: 40px;
}

  @media (max-width: 490px) {
    .nav-container {
        padding: 50px 40px 0 40px;
        flex-direction: column;
    }

    .toggle-container {
        margin-top: 30px;
        margin-left: 0;
    }

    .nav-ul {
        margin-bottom: 0;
    }
}

.toggle-container:hover .slider::before {
    background-color: #525252;
}

.toggle-container input:focus + .slider::before {
    background-color: #ffffff;
}

.light .toggle-container input:focus + .slider::before {
    background-color: #1c1d1d;
}
  
.toggle-container input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.38);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 3px;
    background-color: rgba(255, 255, 255, 0.137);
    -webkit-transition: .4s;
    transition: .4s;
}


.light.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.moon {
    position: absolute;
    opacity: 1;
    height: 32px;
    width: 32px;
    left: 6px;
    bottom: 4px;
    z-index: 6;
    cursor: pointer;
    -webkit-transition: .7s;
    transition: .7s;
}

.light.moon {
    opacity: 0;
    transform: rotate(180deg);
    transition: all 1s;
}

input:checked + .slider {
    background-color: #1c1d1d33;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1c1d1d33;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.intro-content {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.intro-content h1 {
    font-size: 28px;
    font-weight: 500;
    max-width: 910px;
    margin-bottom: 34px;
    margin-top: 0;
    color: #ee9dac;
}

.intro-content h1.light-text {
    color: #C54960;
}

.intro-content h1 .h1-span {
    font-size: 42px;
    font-weight: bold;
    display: block;
    margin-top: 16px;
    color: white;
}

.intro-content h1 .h1-span.light-text {
    color: black;
}

.intro-ul {
    padding: inherit;
    font-size: 22px;
    line-height: 1.7;
    font-weight: 400;
    margin: 0 0 24px 0;
}

.work-line {
    display: block;
    margin: 44px 0 54px;
}

a {
    color: #ee9dac;
    font-weight: bold;
}

a:visited {
    color: #ee9dac;
}

a:hover {
    color: white;
}

a.light-text {
    color: #C54960;
}

a.light-text:visited {
    color: #C54960;
}

a.light-text:hover {
    color: black;
}

.intro-ul li {
    overflow: hidden;
    position: relative;
    padding-left: 30px;
}

.intro-ul li::before {
    content: "+";
    position: absolute;
    left: 0;
    height: 100%;
    display: block;
    float: left;
    vertical-align: middle;
}

.cta-button button {
    width: 274px;
    height: 87px;
    border: 2px solid #C54960;
    background-color: #C54960;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 1;
    transition: .3s all;
    font-weight: 600;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83); 
    box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83);
}

.cta-button.light button {
    background-color: #C54960;
    border: 3px solid #C54960;
    color: #f4f4f4;
    opacity: 1;
    transition: .2s all;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.43); 
    box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.43);
}

.cta-button button:hover, .cta-button.light button:hover {
    background-color: #1c1d1d;
    border: 3px solid #C54960;
    color: #ffffff;
    transition: .4s all;
}

.cta-button.light button:hover {
    background-color: #f4f4f4;
    border: 3px solid #1c1d1d;
    color: #1c1d1d;
    transition: .4s all;
}

.cta-button button:focus, .cta-button.light button:focus {
    position: relative;
    left: 3px;
    top: 3px;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0); 
    box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0);
    transition: .2s all;
}


.hide {
    display: none;
}

/* WORK SECTION */

.work-header-side {
    width: 40%;
    position: relative;
    padding: 250px 130px 0 130px;
}

.light .work-header-side, .light .all-about-container {
    background-color: #f4f4f4;
}

.about-header-side {
    width: 40%;
    position: relative;
    padding: 250px 90px 0 90px;
}



.work-header-side img, .about-header-side img {
    width: auto;
    display: block;
    position: relative;
    z-index: 30;
    position: sticky;
    position: -webkit-sticky;
    padding: 180px 0 300px 0;
    margin: 0 auto 0 auto;
    top: 5%;
    transition: .3s all;
}

.work-header-side img {
    padding: 250px 0 300px 0;
}

.all-study-container {
    width: 60%;
    background-image: url(../images/background.png);
    position: relative;
}

.light .all-study-container {
    background-color: #f4f4f4;
    background-image: url(../images/bg-trans-lighter.png);
}

.all-about-container {
    width: 60%;
    background-image: url(../images/background.png);
}

.light .all-about-container {
    background-image: url(../images/bg-trans-lighter.png);
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-bottom: 100px;
    align-items: center;
    overflow: hidden;
    background-color: #1c1d1d;
}

.overlay-container:nth-child(4) {
    margin-bottom: 200px;
}

.overlay-container .overlay-card {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 4%;
    width: 422px;
    max-height: 350px;
    padding: 40px;
    background-color: #1c1d1d;
    opacity: 1;
    transition: 1.5s all;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.63); 
    box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.63);
}

.work.light .overlay-container .overlay-card {
    background-color: #f4f4f4;
}

.overlay-container img {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    opacity: .5;
    transition: 1.5s all;
}

.overlay-container img:hover {
    z-index: 4;
    opacity: 1;
    transition: 1s all;
}

.overlay-container img:hover + .overlay-card {
    opacity: 0;
    transition: .6s all;
}

.overlay-container a:focus img {
    border: 4px solid white;
    transition: .4s all;
    z-index: 20;
    position: relative;
    opacity: .65;
}

.light .overlay-container a:focus img {
    border: 4px solid black;
    transition: .4s all;
    z-index: 20;
    position: relative;
    opacity: .45;
}


.work h3 {
    margin: 0;
    font-size: 32px;
}

.work p {
    line-height: 1.7;
    margin: 24px 0;
    font-size: 16px;
}

.work.light .overlay-card p, .work.light .overlay-card h3 {
    color: #1c1d1d;
}

.work button {
    position: relative;
    z-index: 5;
    width: 132px;
    height: 58px;
    background-color: transparent;
    color: white;
    border: 1px solid #C54960;
    border-radius: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83); 
    box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83);
    transition: .3s all;
}

.work.light button {
    color: #1c1d1d;
}

.work button:hover {
    position: relative;
    z-index: 5;
    background-color: #C54960;
    border: 1px solid #C54960;
    color: #f4f4f4;
    transition: .3s all;
}

.work.light button:hover {
    color: #ffffff;
    background-color: #C54960;
}

.work button:focus {
    position: relative;
    left: 4px;
    top: 2px;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0); 
    box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0);
    transition: .2s all;
}

/* ABOUT SECTION */

.about {
    margin: 0 auto 0 auto;
}

.about-header-side {
    background-color: #f4f4f4;
}

.about.light .about-header-side {
    background-color: #1c1d1d;
}

.about.light h3, .about.light h4 {
    color: #1c1d1d;
}

.about h2:nth-child(1) {
    font-size: 36px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.about-intro {
    margin-bottom: 100px;
}

.intro-bio {
    padding-top: 100px;
}

.about-intro img {
    max-width: 100%;
}

.about-intro h3 {
    font-size: 36px;
    line-height: 1.6;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
    margin-bottom: 40px;
}

.about-intro p {
    width: 75%;
    font-size: 18px;
    line-height: 1.6;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 400;
}

.skills-container {
    width: 100%;
    padding: 60px;
    margin: 0 auto 200px auto;
    background-color: #1c1d1d;
}

.about.light .skills-container {
    background-color: #f4f4f4;
}

.skills-container h2 {
    margin-top: 0;
}

.featured-skills {
    padding: 0 0 68px 0;
}

.featured-skills h3 {
    text-align: center;
    font-size: 20px;
}

.featured-skills p {
    width: 270px;
    font-size: 17px;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 1.5;
}

.single-skill {
    padding-left: 5px;
    padding-right: 5px;
}

.single-skill img {
    width: 270px;
    animation: bounce 2.5s infinite;
}

.single-skill img:hover {
    animation: bounce 2.5s infinite;
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.about .specifics {
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 102px;
}

.soft-skills, .tech {
    margin: 0 auto 0 auto;
    padding: 0px 48px 0px 48px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.tech {
    margin-top: 68px;
}

.specific-section {
    width: 225px;
}

.specific-section p, .specific-section h4 {
    line-height: 1.6;
}

.specific-section h4 {
    font-weight: 600;
}

.specific-section p {
    font-weight: 500;
}

.soft-skills p::before, .tech p::before {
    content: "+";
    margin-right: 8px;
}

/* CONTACT SECTION */

.contact {
    width: 100%;
    background-color: #C54960;
    padding: 100px 60px 135px 60px;
}

.contact h2 {
    font-size: 42px;
}

.contact p {
    font-size: 20px;
    line-height: 1.3;
}

.light .contact p, .light .contact h2 {
    color: white;
}

.contact-buttons {
    margin-top: 80px;
    width: 40%;
}

.contact-button {
    width: 165px;
    height: 70px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    transition: .4s all;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83); 
    box-shadow: 5px 8px 21px -11px rgba(0,0,0,0.83);
}

 .contact-button:hover {
    background-color: white;
    color: #C54960;
    transition: .4s all;
}

.contact-button:focus {
    position: relative;
    left: 3px;
    top: 3px;
    -webkit-box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0); 
    box-shadow: 5px 8px 21px -11px rgba(0, 0, 0, 0);
    transition: .2s all;
}

.about-header-side.side-mobile, .work-header-side.side-mobile {
    display: none;
}

.about-header-side.desktop-side, .work-header-side.desktop-side {
    display: block;
}

/* CASE STUDY MODALS */

.cs-overview button {
    cursor: pointer;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #c54960;
    border: 1px solid #c54960;
    color: white;
    font-weight: 600;
    transition: .5s all;
}

.cs-overview button:hover, .cs-overview button:focus {
    border: 1px solid #c54960;
    background-color: transparent;
    color: #C54960
}

.modal-container {
    display: none;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #1C1D1D;
    color: white;
    z-index: 66;
    overflow-y: scroll;
}

.light .modal-container {
    background-color: #f4f4f4;
}

.light .modal-container p, .light .modal-container h2, .light .modal-container h3, .light .modal-container h4  {
    color: #1c1d1d;
}

.modal-container.modal-open {
    display: block;
}

.dt-only {
    display: box;
}

.modal-close {
    position: fixed;
    top: 5%;
    right: 10%;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    width: 65px;
    border: 1px solid #C54960;
    background-color: #C54960;
    color: white; 
    transition: .4s all;
}

.modal-close:hover, .modal-close:focus {
    background-color: white;
    border: 1px solid white;
    color: #1c1d1d;
    transition: .4s all;
}


.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.cs-nav-mobile-container, .cs-nav-mobile {
    display: none;
}

.cs-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    text-align: left;
    position: sticky;
    z-index: 6;
    top: 0;
    flex-direction: row;
    left: 0;
    width: max-content;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 40px 20px;
    background-color: #1c1d1d;
}

.modal-nav-li {
    opacity: 0;
    transition: 1.5s all;
}

.light .modal-nav-li:hover, .light .modal-nav-li:focus {
    color: #C54960;
    transition: .3s all;
}

#planModal .modal-nav-li {
    opacity: 1;
}

.cs-nav li {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cs-nav li:last-of-type {
    margin-bottom: 0;
    margin-left: 70px;
}

.cs-nav li a {
    color: white;
    padding-left: 0;
    transition: .6s all;
    font-weight: 500;
}

.cs-nav li a:hover, .cs-nav li a:focus {
    padding-left: 15px;
    transition: .6s all;
}

.cs-nav li {
    margin: 0 10px 0 10px;
}

.cs-nav l1 a {
    padding-left: 0;
}

.cs-nav li a:hover, .cs-nav li a:focus {
    padding-left: 0;
    color: #C54960;
}

.light .cs-nav {
    background-color: #f4f4f4;
}

.light .cs-nav li a {
    color: #1c1d1d;
}

.cs-thin {
    width: 60%;
    margin: 0 auto 0 auto;
}

.cs-thin p {
    max-width: 674px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cs-thin p a {
    color: #C54960;
}

.cs-thin p a:hover, .cs-thin p a:focus {
    color: #cf7888;
}

.modal-container {
    padding-bottom: 150px;
}

.modal-header {
    padding: 50px 0 0 0;
}

.modal-header h1 {
    text-align: center;
    font-size: 36px;
}

.modal-container p {
    line-height: 1.7;
    margin-bottom: 30px;
    max-width: 700px;
}

.modal-container h2 {
    text-transform: uppercase;
    color: #C54960;
    margin: 0 0 40px 0;
    padding-top: 190px;
    font-size: 34px;
    text-align: center;
    letter-spacing: 2px;
}

.light .modal-container h2 {
    color: #C54960;
}

.cs-overview .img-light-theme {
    display: none;
}

.light .cs-overview .img-dark-theme {
    display: none;
}

.light .cs-overview .img-light-theme {
    display: block;
}

.modal-container .first-h2 {
    margin: 0 0 40px 0;
}

.modal-container h2 + p {
    text-align: center;
    display: block;
    margin: 30px auto 120px auto;
}

.modal-container h3 {
    text-align: center;
    margin: 80px 0 50px 0;
    font-size: 24px;
}

.modal-container h4 {
    text-align: center;
    color: #9e9e9e;
    margin-bottom: 35px;
}

.cs-basic-banner {
    border-top: 1px solid rgba(167, 167, 167, 0.52);
    border-bottom: 1px solid rgba(167, 167, 167, 0.52);
    padding: 32px 17%;
    margin: 137px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cs-basic-single {
    display: flex;
    flex-direction: column;
}

.modal-content .cs-basic-single p {
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content .cs-basic-title {
    text-transform: uppercase;
    margin-bottom: 9px;
    font-weight: 600;
}

.cs-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 169px auto;
}

.cs-overview-content {
    padding-left: 40px;
    padding-bottom: 0;
}

.cs-overview p {
    width: 100%;
}

.modal-content .cs-overview-header {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.modal-content .cs-overview p:nth-child(2) {
    margin-bottom: 30px;
}

.cs-overview img {
    width: 50%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto 0 auto !important;
}

.jump-group {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0 auto;
}

.modal-content .cs-jump-header {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 100px !important;
    text-align: left;
    display: inline-block;
}

.cs-jump-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.cs-jump-links li {
    width: 320px;
    height: 110px;
    margin: 3px;
    margin-bottom: 50px;
    position: relative;
}

.cs-jump-links li a .cs-jump-number {
    font-size: 130px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: .85;
    color: rgba(113, 113, 113, 0.18);
}

.cs-jump-links li a .cs-jump-title {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 24%;
    margin-bottom: 0;
    transition: .5s all;
}

.cs-jump-links li a:hover .cs-jump-title, .cs-jump-links li a:focus .cs-jump-title {
    padding-bottom: 20px;
    transition: .5s all;
}

.cs-content-ol, .cs-content-ul {
    max-width: 700px;
    list-style-position: outside;
    padding-left: 20px;
    margin: 50px 0;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cs-content-ul {
    list-style-type: disc;
}

.compact-ul {
    margin-top: 0;
    margin-bottom: 40px;
}

.inner-ul {
    list-style-type: circle;
    margin-top: 10px;
    padding-left: 20px;
}

.table-container {
    max-width: 700px;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cs-table {
    margin-top: 100px;
    border-collapse: collapse;
    font-size: 14px;
}

.cs-table td {
    vertical-align: top;
}

.cs-table td, .cs-table th {
    padding: 20px;
}

.cs-table td {
    vertical-align: top;
    border: 1px solid #C54960;
}

.cs-table th {
    border: 1px solid #1c1d1d;
}

.light .cs-table th, .light .cs-table tbody tr td:first-of-type {
    border: 1px solid #f4f4f4;
}

.cs-table thead tr:first-of-type, .cs-table tbody tr td:first-of-type {
    background-color: #C54960;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    border: 1px solid #1c1d1d;
}

.modal-container p.pre-ul {
    margin-bottom: 20px;
    font-weight: 600;
}

#modalmiscDesign .cs-content-ul {
    margin-top: 10px !important;
}

.cs-content-ol li, .cs-content-ul li {
    margin-bottom: 20px;
    line-height: 1.5;
    padding-left: 10px;
}

.cs-quote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 100px auto 0 auto;
}

.cs-quote-single {
    width: 300px;
    min-height: 200px;
    padding: 30px;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.cs-quote-icon {
    position: absolute;
    left: -38px;
    top: -10px;
    font-size: 126px;
    font-family: 'Inconsolata', monospace;
    color: #C54960;
}

.light .cs-quote-icon {
    color: #C54960;
}

.modal-container .cs-quote-single p {
    margin: 0;
}

.modal-container img {
    border-radius: 12px;
    display: block;
    margin: 80px auto 80px auto;
}

.persona-container img, .ideate-container img, .journey-container img, .sitemap-container img, .mid-size-img, .smaller-img {
    margin: 80px auto 80px auto;
    width: 100%;
    max-width: 700px;
}

.changes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.changes-container .smaller-img {
    width: 45%;
}

.modal-container .full-size-img, .modal-container .cs-header-big-img {
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 0;
}

.modal-container .big-small {
    width: auto;
    max-width: 100%;
}

.modal-container .cs-header-big-img {
    margin: 170px auto;
    width: 100%;
}

.test-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto 60px auto;
    max-width: 700px;
}

.test-single {
    background-color: #C54960;
    padding: 25px;
    width: 320px;
    height: 190px;
    margin: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 12px;
    text-align: center;
}

.test-single p {
    margin-bottom: 0;
}


.test-single .test-header {
    font-size: 20px;
    font-weight: 500px;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.light .test-single p {
    color: white;
}

.cs-content-ol .cs-content-ul {
    margin: 10px 0 50px 0;
}

.final-p {
    font-style: italic;
}

.misc-design-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.misc-design-intro .misc-intro-p, .misc-design-collection .pre-ul {
    max-width: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.misc-design-collection .pre-ul {
    max-width: 550px;
    margin-top: 120px;
    color: #C54960;
}

.light .misc-design-collection .pre-ul {
    color: #C54960;
}

.misc-design-collection {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.misc-design-collection img {
    margin: 30px 0 60px 0;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}
/* RESPONSIVE MEDIA QUERIES */


@media (max-width: 1605px) {
    .featured-skills {
        flex-direction: column;
        align-content: center;
    }

    .single-skill {
        margin-bottom: 100px;
        max-width: 275px;
    }

    .work-header-side img, .about-header-side img {
        width: auto;
    }
}

@media (max-width: 1480px) {
    .featured-skills {
        align-content: flex-start;
        display: block;
        margin: 0 auto 0 auto;
        width: 70%;;
    }

    .single-skill {
        max-width: 100% !important;
    }

    .single-skill img {
        margin: 150px auto 0px auto;
        display: block;
        width: 100%;
    }

    .featured-skills h3 {
        font-size: 35px;
        margin-top: 35px;
    }

    .featured-skills p {
        width: 100%;
        font-size: 20px;
    }
    
    .soft-skills {
        max-width: 600px;
    }

    .specific-section {
        margin-bottom: 30px;
        width: 100%;
    }

    .cs-overview {
        flex-direction: column-reverse;
    }

    .cs-overview-content {
        padding-left: 0;
        padding-bottom: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-container .cs-overview img {
        width: 100%;
        margin-top: 50px !important;
    }

    .cs-jump-links {
        max-width: 700px;
        margin: 0 auto 0 auto;
    }

    .cs-jump-links li {
        margin: 20px;
        width: 200px;
    }

    .jump-group {
        max-width: 700px;
    }


}

@media (max-width: 1137px) {
    .cs-quote-single {
        width: 300px;
        min-height: 200px;
        padding: 30px;
        position: relative;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        border-radius: 12px;
    }
    
    .cs-quote-icon {
        position: absolute;
        left: -38px;
        top: -10px;
        font-size: 126px;
        font-family: 'Inconsolata', monospace;
    }

    
}

@media (max-width: 1098px) {
    .test-single {
        width: 100%;
        justify-content: center;
    }

    .test-single .test-header {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .test-single p {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 1055px) {
    .work-header-side, .about-header-side {
        padding: 100px 50px 100px 50px;
    }

    .overlay-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .overlay-container img {
        position: relative;
        height: auto;
        width: 100%;
    }

    .overlay-container .overlay-card {
        position: relative;
        top: 0;
        width: 100%;
        left: 0;
    }

    .skills-container {
        padding: 30px;
    }

    .skills-container h2 {
        margin-left: 30px;
    }

    .contact-buttons {
        width: 80%;
    }

    .cs-quote-container {
        flex-direction: column;
    }

    .cs-quote-single {
        flex-direction: column;
        width: 400px;
        min-height: max-content;
        padding: 20px;
        align-items: flex-start;
    }

    .cs-quote-icon {
        font-size: 96px;
    }

    .cs-basic-banner {
        flex-wrap: wrap;
    }

    .cs-basic-single {
        margin: 40px;
        width: 155px;
    }

    .overlay-card a {
        margin: 2px;
    }

    .work button {
        margin: 2px;
    }

    .about-intro p {
        width: 100%;
    }
}

@media (max-width: 958px) {
    .cs-basic-single {
        margin: 50px;
        width: 155px;
    }
}

@media (max-width: 780px) {
    .about-intro h3 {
        padding-left: 60px;
        padding-right: 30px;
    }

    .about-intro p {
        width: 100%;
    }

    .modal-container {
        padding: 50px;
        padding-top: 0;
    }

    .cs-thin {
        width: 90%;
    }

    .cs-basic-single {
        margin: 20px;
        width: 155px;
    }

    .cs-overview {
        width: 90%;
    }
}

@media (max-width: 765px) {
    .intro-content h1 {
        font-size: 32px;
    }

    .flex {
        align-items: center;
        flex-direction: column;
    }

    .nav-ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-ul li {
        margin: 0 5px 0 5px;
    }

    .about, .work {
        flex-direction: column !important;
    }

    .work-header-side, .about-header-side {
        width: 100%;
        padding: 100px 30px 100px 30px;
    }

    .all-about-container, .all-study-container {
        width: 100%;
    }

    .work-header-side img, .about-header-side img {
        padding: 0;
    }

    .overlay-container .overlay-card {
        top: 10%;
    }

    .work h3 {
        font-size: 26px;
    }

    .work p {
        font-size: 16px;
        margin: 15px 0;
    }

    .overlay-container img {
        opacity: 1;
    }

    .soft-skills {
        flex-direction: row;
        align-items: flex-start;
        padding: 0 10px 0 10px;
    }

    .about .specifics {
        margin-top: 50px;
    }

    .contact-buttons {
        width: 80%;
        margin-right: auto;
        align-content: flex-start;
    }

    .contact-button {
        margin-bottom: 30px;
    }

    .work-header-side img, .about-header-side img {
        position: relative;
    }

    .modal-container .cs-header-big-img {
        margin: 170px auto 0 auto;
    }
  
}

@media (max-width: 674px) {
    .intro-content h1 {
        margin-top: 60px;
    }

    .cs-nav, .dt-only {
        display: none;
    }

    .cs-thin, .modal-content p {
        width: 100%;
    }

    .mini-nav-toggle {
        padding: 8px 16px 15px 16px;
    }

    .hamburger {
        font-size: 30px;
        border: none;
        background-color: transparent;
        color: #C54960;
        padding-left: 0;
        right: 0;
        position: relative;
        margin-left: auto;
        display: block;
        transition: .7s all;
    }

    .hamburger.ham-open {
        margin-left: 0;
        margin-right: auto;
        transition: .7s all;
        transform: rotate(90deg);
    }

    .about-header-side.desktop-side, .work-header-side.desktop-side {
        display: none;
    }

    .about-header-side.side-mobile, .work-header-side.side-mobile {
        display: block;
    }

    .about-header-side.side-mobile img, .work-header-side.side-mobile img {
        width: 350px;
    }

    .cs-nav-mobile-container {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: max-content;
        margin-left: auto;
        padding: 20px;
        transition: 1.5s all;
        background-color: #1c1d1df5;
    }

    .cs-nav-mobile a {
        color: #f4f4f4;
    }

    .light .cs-nav-mobile a {
        color: #1c1d1d;
    }

    .cs-nav-mobile a:hover, .cs-nav-mobile a:focus {
        color: #c54960;
    }

    .light .cs-nav-mobile-container {
        background-color: #f4f4f4ea;
    }

    .cs-nav-mobile {
        position: sticky;
        top: 0;
        right: 0;
        width: max-content;
        padding-left: 0;
    }

    .cs-nav-mobile li {
        text-transform: uppercase;
        margin-bottom: 10px;
        width: max-content;
    }

    .cs-nav-mobile li:first-of-type {
        margin-bottom: 30px;
    }
}

@media (max-width: 512px) {
    .modal-container {
        padding: 20px;
    }
    
    .nav-container {
        padding: 50px 10px 0 10px;
    }

    .nav-ul {
        flex-direction: row;
    }

    nav li {
        font-size: 18px;
    }

    .about .specifics {
        margin-top: 0;
    }

    .skills-container h2 {
        margin-left: 0px;
    }

    .about-intro h3, .about-intro p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-intro p {
        width: 100%;
    }

    .overlay-container .overlay-card {
        top: 20%;
    }

    .work h3 {
        font-size: 22px;
    }

    .work button {
        background-color: transparent;
    }

    .cs-quote-container {
        width: 80%;
    }

    .cs-quote-single {
        width: 100%;
        padding: 0;
    }

    .cs-quote-icon {
        font-size: 56px;
    }

    .modal-content .cs-jump-header {
        margin-bottom: 50px !important;
    }

    .cs-jump-links li {
        margin: 20px auto 50px auto;
    }

    .featured-skills h3 {
        font-size: 22px;
    }

    .featured-skills p {
        font-size: 16px;
    }
}

@media (max-width: 380px) {
    header {
        padding-bottom: 150px;
    }

    .nav-container {
        padding: 50px 10px 0 10px;
    }

    .nav-ul {
        flex-direction: row;
    }

    .nav-ul li {
        line-height: 1.7;
    }

    nav li {
        font-size: 18px;
    }

    .intro-content {
        width: 80%;
        margin: 50px auto 0 auto;
    }

    .cta-button button {
        display: block;
        margin: 0 auto 0 auto;
    }

    .skills-container {
        margin-bottom: 50px;
    }

    .contact {
        padding: 100px 40px 135px 40px;
    }

    .single-skill {
        padding-left: 0;
        padding-right: 0;
    }
}

